    *{
        margin: 0;
        padding: 0;
        font-family: 'Varela Round';
    }
    .container{
        width: 695px;
        min-height: 600px;
        margin: 0px auto;
        padding: 25px 25px 12px 25px;
        background: rgba(229, 238, 238, 0.076);
        background: linear-gradient(49deg, rgb(201, 229, 229) 1%, rgba(252, 255, 255, 0.922) 20%, rgba(247, 248, 248, 0.018) 60%, rgb(229, 244, 244) 100%);
        border: 1px dotted black;
    }
    .avatar{
        display: inline-block;
        width: 240px;
        min-height: 200px;
    }
        .container .avatar img{                  
        display: inline-block;
        width: 240px;
        min-height: 200px;
    }
    header{
        display: inline-block;
        width: 410px;
        min-height: 90px;
        vertical-align: top;
        padding-top: 20px;
        margin-left: 30px;
    }
    header h1{
        text-align: start;
        margin-left: 20px;
        width: 370px;
        font-size: 30px;
        font-weight: bolder;
        letter-spacing: 7px;
    }
    header p{
        width: 370px;
        text-align: start;
        border-bottom: 2px solid rgb(84, 93, 187);
        padding-bottom: 15px;
        font-size: 12px;
        font-weight: bolder;
        margin: 12px 0px 12px 20px;
    }
    ul{
        margin-left: 20px;
        padding-top: 20px;
    }
    ul li{
        text-decoration: none;
        display: inline-block;
        margin-top: 15px;
        font-size: 13px;
        font-weight: 100;
        color: black;
        text-align: start;
    }
    main{
        letter-spacing: 0.9px;
        width: 650px;
        height: 200px;
        margin-top: 12px;
        padding: 12px 0px 0px 15px;
        background: rgb(224,228,228);
        background: linear-gradient(48deg, rgba(224,228,228,0.7762702493106618) 0%, rgba(218,221,221,0.24125624370842091) 62%, rgba(212,214,214,0.2860741708792892) 77%, rgba(201,201,201,1) 100%);
    }
    main h2{
        text-align: center;
        font-size: 15px;
        letter-spacing: 1px;
        margin-bottom: 8px;
        color: black;
    }
    main p{
        padding: 5px 5px 5px 10px;
        width: 600px;
        margin-left: 20px;
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 1.5;
    }
    .wrapper{
        margin-top: 20px;
        padding-top: 15px;
        width: 690px;
        height: 250px;
        display: inline-block;
    }
        .wrapper section{
        vertical-align: top;
        width: 300px;
        display: inline-block;
        margin-left: 30px;
        height: 250px;
    }
        .wrapper section .list{
        display: inline-block;
        width: 300px;
        height: 270px;
        background: rgb(224,228,228);
        background: linear-gradient(48deg, rgba(224,228,228,0.7762702493106618) 0%, rgba(218,221,221,0.24125624370842091) 62%, rgba(212,214,214,0.2860741708792892) 77%, rgba(201,201,201,1) 100%);
    }
        .wrapper section h3{
        text-align: center;
        font-size: 15px;
        letter-spacing: 1px;
    }
    .tech{
        margin-left: 40px;
        margin-top: 8px;
    }
    .tech img{
        background-size: cover;
        background-repeat: no-repeat;
        width: 40px;
        height: 35px;
    }
    section .list h4{
        text-align: center;
        font-size: 15px;
        padding-top: 5px;
    }
    section .list h5, h6{
        padding-top: 12px;
        padding-left: 15px;
        text-align: start;
        font-size: 12px;
    }
    section .list p{
        text-align: start;
        font-size: 10px;
        padding: 5px 12px 10px 13px;
        letter-spacing: 0.9px;
        line-height: 1.5;
    }
    footer{
        padding-top: 2px;
        min-width: 600px;
        height: 60px;
        text-align: center;
    }
    footer li a{
        font-size: 10px;
        color: gray;
    }
    footer img{
        width: 25px;
        height: 18px;
        border-radius: 100%;
        display: inline-block;
    }
    footer .social-midia{
        width: 25px;
        height: 18px;
        border-radius: 3px;
    }
